<% provide(:title, t('.about')) %>
<h1><%= t('.about') %></h1>
<p>
  <%= t('.about_html',
    url_tutorials: link_to(t('.tutorial_details'), Settings.client.home_link),
    book: link_to(t('.book_details'), Settings.client.book_link),
    screencast: link_to(t('.screencast_details'), Settings.client.screencast_link),
    rails: link_to(t('.rails_details'), Settings.client.ruby_link)) %>
</p>
