<% provide(:title, t('.help')) %>
<h1><%= t('.help') %></h1>
<p>
  <%= t('.help_html',
    url_help: link_to(t('.help_details'), Settings.client.help_link),
    url_book: link_to(t('.book_details_html'), Settings.client.book_link)) %>
</p>
