<% provide(:title, t('.login')) %>
<h1><%= t('.login') %></h1>
<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= link_to t('sessions.new.forgot_password'), new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: 'checkbox inline' do %>
        <%= f.check_box :remember_me %>
        <span><%= t('.remember_me') %></span>
      <% end %>

      <%= f.submit t('.login'), class: 'btn btn-primary' %>
    <% end %>
    <%= t('.signup_html', sign_up: link_to(t('static_pages.home.sign_up_now'), signup_path)) %>
  </div>
</div>
