<h1><%= t('static_pages.home.sample_app') %></h1>
<%= t('user_mailer.account_activation_html', name_user: @user.name,
  activate: link_to(t('user_mailer.activate'), edit_account_activation_url(@user.activation_token,
  email: @user.email))) %>
