<h1><%= t('user_mailer.reset_password_mail') %></h1>
<%= t('user_mailer.password_reset_html', reset_link: link_to(t('user_mailer.reset_password_mail'),
  edit_password_reset_url(@user.reset_token,email: @user.email))) %>
