<li id='comment-<%= comment.id %>'>
  <%= link_to gravatar_for(comment.user, size: Settings.user.default_user_avatar_size),
    comment.user %>
  <span class='user'><%= link_to comment.user.name, comment.user %></span>
  <span class='content'><%= comment.content %></span>
  <span class='timestamp'>
    <% if comment.created_at < comment.updated_at %>
      <%= t('comments.edit_time', time: time_ago_in_words(comment.updated_at)) %>
    <% else %>
      <%= t('comments.comment_time', time: time_ago_in_words(comment.created_at)) %>
    <% end %>
    <% if current_user?(comment.user) %>
      <div id='edit-comment-<%= comment.id %>'>
        <%= link_to t('comments.edit'), edit_comment_path(comment), remote: true,
          class: 'btn btn-xs btn-primary' %>
        <%= link_to t('comments.delete'), comment, method: :delete,
        data: { confirm: t('comments.confirm') }, class: 'btn btn-xs btn-outline btn-inverse' %>
      </div>
    <% end %>
  </span>
</li>
