<li>
  <%= gravatar_for(user, size: Settings.user.default_user_avatar_size) %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to t('users.index.delete'), user, method: :delete,
      data: { confirm: t('users.delete.confirm') } %>
  <% end %>
</li>

