<% provide(:title, t('.edit_user')) %>
<% provide(:button_text, t('.btn_save')) %>
<h1><%= t('.title_page') %></h1>
<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <%= render 'form' %>
    <div class='gravatar_edit'>
      <%= gravatar_for(@user) %>
      <%= link_to t('.change'), Settings.client.avatar_link, target: '_blank' %>
    </div>
  </div>
</div>
