<% provide(:title, t('.signup')) %>
<% provide(:button_text, t('.btn_create')) %>
<h1><%= t('.signup') %></h1>
<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <%= render 'form' %>
  </div>
</div>
