<%= form_for(micropost.comments.build) do |f| %>
  <div class='field'>
    <div>
      <%= gravatar_for(current_user) %>
    </div>
    <div class='row'>
      <div class='col-md-7'>
        <span><%= current_user.name %></span>
        <%= f.hidden_field :micropost_id %>
        <%= f.text_area :content, placeholder: t('shared.placeholder_comment_content'), class: 'form-control custom-comment-area' %>
      </div>
      <div class='col-md-3'>
        <%= f.submit t('shared.btn_comment'), class: 'btn btn-primary custom-comment-btn-submit' %>
        </div>
    </div>
  </div>
<% end %>
