<%= form_for(comment) do |f| %>
  <div class='field'>
    <div>
      <%= f.text_area :content, placeholder: t('shared.placeholder_comment_content'),
        :id => 'commentbox', class: 'custom-comment-area-edit' %>
    </div>
    <%= f.submit t('shared.btn_edit_comment'),
      class: 'btn btn-xs custom-comment-btn-edit btn-primary' %>
  </div>
<% end %>
