<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class='field'>
    <%= f.text_area :content, placeholder: t('shared.placeholder_content') %>
  </div>
  <%= f.submit t('shared.btn_post'), class: 'btn btn-primary' %>
  <span class='picture'>
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>

<script type='text/javascript'>
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/<%= Settings.micropost.megabytes %>;
    if (size_in_megabytes > <%= Settings.micropost.picture_size %>){
      alert('<%= I18n.t('shared.picture_max_size') %>');
    }
  });
</script>
