<%= link_to gravatar_for(current_user, size: Settings.user.default_user_avatar_size), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to t('shared.my_profile'), current_user %></span>
<span><%= pluralize(current_user.microposts.count, t('shared.micropost')) %></span>
