<li id='micropost-<%= micropost.id %>'>
  <%= link_to gravatar_for(micropost.user, size: Settings.user.default_user_avatar_size), micropost.user %>
  <span class='user'><%= link_to micropost.user.name, micropost.user %></span>
  <span class='content'>
    <%= link_to micropost.content, micropost_path(micropost) %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>
  <span class='content'>
    <%= t('microposts.comment_of_post', count: micropost.comments.count) %>
  </span>
  <span class='timestamp'>
    <%= t('microposts.post_time', time: time_ago_in_words(micropost.created_at)) %>
    <% if current_user?(micropost.user) %>
      <%= link_to t('microposts.delete'), micropost, method: :delete,
        data: { confirm: t('microposts.confirm') } %>
    <% end %>
  </span>
</li>
