<% provide(:title, t('.post_title',user: @micropost.user.name)) %>
<div class='row'>
  <aside class='col-md-4'>
    <section class='user_post'>
      <h1>
        <%= @micropost.user.name %>
        <%= gravatar_for(@micropost.user) %>
      </h1>
    </section>
    <section class='stats'>
      <%= render 'shared/stats' %>
    </section>
    <section class='user_info'>
      <%= @micropost.content %>
    </section>
  </aside>
  <div class='col-md-8'>
    <% if logged_in? %>
      <%= render 'shared/comment_form', micropost: @micropost %>
    <% end %>
    <% if @comments.any? %>
      <div>
        <h3><%= t('.comment_sum', sum: @comments.count) %></h3>
        <ol class='microposts'>
          <%= render @comments %>
          <%= will_paginate @comments %>
        </ol>
      </div>
    <% end %>
  </div>
</div>
