<footer class='footer'>
  <small>
    <%= t('.footer_html', url_tutorials_footer: link_to(t('static_pages.home.homepage_details'),
      Settings.client.home_link), author: link_to(t('.name'), Settings.client.author_link)) %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t('static_pages.about.about'), about_path %></li>
      <li><%= link_to t('static_pages.contact.contact'), contact_path %></li>
      <li><%= link_to t('.new'), Settings.client.news_link %></li>
    </ul>
  </nav>
</footer>
