<header class='navbar navbar-fixed-top navbar-inverse'>
  <div class='container'>
    <%= link_to t('static_pages.home.sample_app'), root_path, id: 'logo' %>
      <nav>
        <ul class='nav navbar-nav navbar-right'>
          <li><%= link_to t('static_pages.home.home'), root_path %></li>
          <li><%= link_to t('static_pages.help.help'), help_path %></li>
          <% if logged_in? %>
            <li><%= link_to t('layouts.header.user'), users_path %></li>
            <li class='dropdown'>
              <a href='#' class='dropdown-toggle' data-toggle='dropdown'>
                <%= t('.account') %><b class='caret'></b>
              </a>
              <ul class='dropdown-menu'>
                <li><%= link_to t('layouts.header.profile'), current_user %></li>
                <li><%= link_to t('layouts.header.setting'), edit_user_path(current_user) %></li>
                <li class='divider'></li>
                <li>
                  <%= link_to t('layouts.header.logout'), logout_path, method: :delete %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to t('static_pages.login'), login_path %></li>
          <% end %>
        </ul>
      </nav>
  </div>
</header>
